html, body {
	background: #000;
	color: #FFF;
	font-family: "Open Sans";
	font-size: 17px;
	margin: 0;
	height: 100%;
}

#content {
	height: 100%;
}

h1 {
	font-size: 50px;
	margin: 0;
	padding: 0;
	font-weight: 300;
}

h1 strong {
	font-weight: 700;
}

h2 {
	font-size: 14px;
	text-transform: uppercase;
	color: #666;
	letter-spacing: 2px;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0;
}

h3 {
	font-size: 18px;
	text-transform: uppercase;
	color: #666;
	letter-spacing: 2px;
	font-weight: bold;
	margin: 30px 15px 20px 15px;
	padding: 0;
}

.checklist p {
	margin: 0;
	padding: 0;
	line-height: 30px;
	height: 30px;
	text-transform: lowercase;
}

.checkbox.faded h4,
.checklist p {
	white-space: nowrap;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
}

.assigned {
	color: #666;
	font-weight: bold;
	font-size: 16px;
}

i.fa {
	color: #191919;
	padding: 0 20px 0 0;
	font-size: 44px;
	-webkit-transition: color 300ms ease-in-out;
}

.overflow {
	overflow: hidden;
}

.checklist {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.checkbox-inner {
	display: block;
	margin: 0 !important;
	padding: 10px;
	cursor: pointer;
	overflow: hidden;
	-webkit-transition: background 300ms ease-in-out;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	-o-border-radius: 14px;
	border-radius: 14px;
}

.checkbox:hover .checkbox-inner {
	background: #111;
}

.checkbox:hover .checkbox-inner i.fa {
	color: #333;
}

.checkbox.faded h4 {
	color: #444;
	text-transform: capitalize;
}

.checkbox.faded i.fa {
	color: #F09;
	-webkit-animation: color-pulse 30s linear infinite alternate;
}

.progress-bar {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	background: #111;
}

.progress-inner {
	height: 100%;
	width: 0%;
	background: #f09;
	position: relative;
	-webkit-transition: width 500ms ease-in-out;
	-webkit-animation: background-pulse 30s linear infinite alternate;
}

.progress-percent {
	color: #666;
	height: 100%;
	width: 80px;
	position: absolute;
	text-align: center;
	right: -80px;
	top: 0px;
	line-height: 40px;
	font-size: 20px;
}

.pump-it {
	color: #FFF;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	line-height: 400px;
	height: 400px;
	width: 100%;
	position: fixed;
	z-index: 2;
	top: 50%;
	left: 0px;
	margin-top: -200px;
	-webkit-transform: scale3d(1, 1, 1);
	-webkit-animation: size-pulse 200ms ease-in-out infinite;
}

@media (min-width: 768px) {
	.pump-it {
		font-size: 180px;
	}
}

.success-msg {
	display: none;
}

.active {
	display: block!important;
}

@-webkit-keyframes background-pulse { 
	20%  { background-color: #FFE019; }
	40%  { background-color: #14BFCC; }
	60%  { background-color: #B21272; }
	80%  { background-color: #09A7B2; }
	100% { background-color: #F09; }
}

@-webkit-keyframes color-pulse { 
	20%  { color: #FFE019; }
	40%  { color: #14BFCC; }
	60%  { color: #B21272; }
	80%  { color: #09A7B2; }
	100% { color: #F09; }
}

@-webkit-keyframes size-pulse { 
	50%  { -webkit-transform: scale3d(1.2, 1.2, 1.2); }
}

#splash {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #f09;
	-webkit-animation: background-pulse 3.5s linear infinite alternate;
	text-align: center;
	line-height: 100%;
	z-index: 2;
	opacity: 1;
}

#splash h1 {
	position: absolute;
	top: 50%;
	height: 100px;
	width: 100%;
	line-height: 100px;
	margin-top: -50px;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0px;
}

@media (min-width: 768px) {
	#splash h1 {
		font-size: 90px;
	}
}

.fade-out {
    -webkit-animation: fadeOut ease-in 500ms forwards 700ms;
    -moz-animation:    fadeOut ease-in 500ms forwards 700ms;
    animation:         fadeOut ease-in 500ms forwards 700ms;
}

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

.win-msg {
	position: fixed;
	z-index: 3;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #f09;
	-webkit-animation: background-pulse 2s linear infinite alternate;
	color: #FFF;
	display: none;
}

.table {
	display: table;
	table-layout: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

.gradient {
	background: #f09;
}

@media (min-width: 768px) {
	.gradient {
		-webkit-animation: background-pulse 30s linear infinite alternate;
	}
}

.white-box {
    background: #FFF;
    padding: 30px;
    margin-top: 15px;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    color: #333;
}

.white-box-footer {
    margin-top: 30px;
    text-align: center;
}

.alert {
	background: rgba(255,255,255,0.2);
	color: #000;
	border: 1px solid rgba(255,255,255,0.2);
}

.subhead {
	display: block;
	margin: 0 0 30px 0;
}

.gradient a {
	color: rgba(0,0,0,0.5);
}

.btn {
	padding: 15px 40px;
}

.btn-sm {
	padding: 8px 20px;
}

.btn-circle {
	width: 64px;
	height: 64px;
	padding: 20px;
	overflow: hidden;
	text-align: center;
	background: #FF008F;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    -o-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    outline: none;
}

.btn-circle:hover,
.btn-circle:active,
.btn-circle:focus {
	outline: 0!important;
	opacity: 0.8;
}

.btn-circle i.fa {
	line-height: 25px;
	font-size: 24px;
	padding: 0;
	margin: 0;
}

.btn.btn-success {
	background: rgba(0,0,0,0.5);
	border-color: rgba(0,0,0,0.2);
	color: #FFF;
}

.btn.btn-border {
	display: block;
	max-width: 300px;
	width: 100%;
	margin: 10px auto 0 auto;
	border: 2px solid #242424;
	line-height: 50px;
	padding: 0 30px;
	color: #333;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
	background: transparent;
	font-weight: 700;
}

.btn.btn-border i.fa {
	line-height: 52px;
	font-size: 20px;
	padding: 0;
	margin: 0 5px 0 0;
	color: #333;
}

.btn.btn-border:hover,
.btn.btn-border:active,
.btn.btn-border:focus {
	background: transparent;
	border-color: #333;
	outline:none;
}

.modal {
	color: #333;
}

#add {
	margin-bottom: 70px;
	display: block;
	overflow: hidden;
}